// 共通
// -fontsize
$fs_ttl_big: 20px;
$fs_ttl_small: 16px;
$fs_text_big: 14px;
$fs_text_small: 12px;

// -fontweight
$fw_ttl_big: 800;
$fw_ttl_small: 600;
$fw_text_normal: 300;

// _body.scss
$body_mw: 1440px;
$hm_outer_mw: 1140px;

// _header.scss
$header_h: 60px;

// _main.scss
$mainLogo_text_h: 40px;
$section_mw: 1063px;
$sectionBottom_inner_mb: 36px;

// _sidebar.scss
$sidebar_mw: 250px;

// _footer.scss
$footer_h: 60px;
